<div class="ui-g-12">
  <p-panel>
    <p-header>
      Search
    </p-header>
    <div class="ui-g">
      <div class="ui-g-12 ui-md-3">
        <div class="ui-g-8">
          <p-dropdown name="selectLocation" placeholder="Select Location" [options]="locationData" [(ngModel)]="selectedCity"></p-dropdown>
        </div>
      </div>

      <div class="ui-g-12 ui-md-3">
        <div class="ui-g-8">
          <p-dropdown name="Select Skill" placeholder="Select Skill" [options]="skillData" [(ngModel)]="selectedSkill"></p-dropdown>
        </div>
      </div>

      <div class="ui-g-12 ui-md-3">
        <div class="ui-g-8">
          <p-button label="Search" (onClick)="getjobs()"></p-button>
        </div>
      </div>
    </div>
  </p-panel>
</div>

<br/>

<div class="ui-g-12">
  <p-panel *ngIf="jobs">
    <p-header>
      <div class="ui-g-8">Results </div>
      <div class="ui-g-4 " style="text-align: right">Total Records {{totalRecords}}</div>
    </p-header>
    <div>
      <p-table [value]="jobs" [paginator]="true" [rows]="10" [responsive]="true" [(first)]="first">
        <ng-template pTemplate="header">
          <tr>
            <th>Title</th>
            <th>Company Name</th>
            <th>Location</th>
            <th>Experience</th>
            <th>Skills</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-job>
          <tr>
            <td>{{job.title}}</td>
            <td>{{job.companyname}}</td>
            <td>{{job.location}}</td>
            <td>{{job.experience}}</td>
            <td>{{job.skills}}</td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </p-panel>

</div>